:root{
    background-color: black;
    color:white
}
.container {
    margin: left;
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  p{
    color:white;
    font-size: 12px;
    columns: 2;
  }

  .navLogo{
    width: 75px;
    height: 35px;
    padding-right: 20px;
  }
.heading {
    color: white;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    background-color: black;
    font-size: 18px;
    
  }
  .nav-link-item {
    padding-right: 2rem;
    
   
  }
  .nav-link-text {
    color: whitesmoke;
    text-decoration: none;
  }
 